<div>
  <pre>
    <table>
      <tr><th>差出人</th><td><%= clam.options[:originator] %></td><td><%= link_to "", "/mail/new?clam_id=#{clam.id}", class: "btn btn-primary fa fa-repeat" %></td></tr>
      <tr><th>件名</th><td><%= clam.summary %></td></tr>
      <tr><th>宛先</th><td><%= clam.options[:recipients] %></td></tr>
      <tr><td colspan='2'><%= clam.options[:description] %></td></tr>
    </table>
  </pre>
</div>

<% if clam.reuse_source.present? %>
  <div>
    再利用元のメール：
    <%= link_to clam.reuse_source.summary, "#", class: "show-reuse-source", "source-id" => clam.reuse_source.id %>
  </div>
<% end %>

<% if clam.events.present? %>
  <div>
    関連するタスク：
    <% clam.events.each do |event| %>
      <%= link_to event.summary, "#", class: "show-related-task", "task-id" => event.id %>
    <% end %>
  </div>
<% end %>
