 <pre>
   <h3> Not defined format of "<%= clam.content_type %>"! </h3>

   <strong>Uid:</strong>
   <%= clam.uid %>
   
   <strong>Date:</strong>
   <%= clam.date %>

   <strong>Summary:</strong>
   <%= clam.summary %>
   
   <strong>Options:</strong>
   <%= clam.options %>
   
   <strong>Content type:</strong>
   <%= clam.content_type %>
   
   <strong>Fixed:</strong>
   <%= clam.fixed %>
   
   <strong>Mission:</strong>
   <%= clam.mission_id %>
   
   <strong>Mission:</strong>
   <%= clam.mission %>
 </pre>
 
