<%= form_for(@clam) do |f| %>
  <% if @clam.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@clam.errors.count, "error") %> prohibited this clam from being saved:</h2>

      <ul>
      <% @clam.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :uid %><br>
    <%= f.text_field :uid %>
  </div>
  <div class="field">
    <%= f.label :date %><br>
    <%= f.datetime_select :date %>
  </div>
  <div class="field">
    <%= f.label :summary %><br>
    <%= f.text_field :summary %>
  </div>
  <div class="field">
    <%= f.label :options %><br>
    <%= f.text_area :options %>
  </div>
  <div class="field">
    <%= f.label :content_type %><br>
    <%= f.text_field :content_type %>
  </div>
  <div class="field">
    <%= f.label :fixed %><br>
    <%= f.check_box :fixed %>
  </div>
  <div class="field">
    <%= f.label :mission_id %><br>
    <%= f.number_field :mission_id %>
  </div>
  <div class="field">
    <%= f.label :mission_id %><br>
    <%= f.text_field :mission_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
