<h1>New user</h1>

<%= form_tag('/users') do %>

<table>
  <tr>
    <td>Display Name:</td>
    <td><%= text_field_tag "display_name", "" %></td>
  </tr>

  <tr>
    <td>Login Name:</td>
    <td><%= text_field_tag "login_name", "" %></td>
  </tr>

  <tr>
    <td>Password:</td>
    <td><%= password_field_tag "password", "" %></td>
  </tr>

  <tr>
    <td><%= submit_tag "Login" %></td>
    <td></td>
  </tr>
</table>

<% end %>

<%= link_to 'Back', users_path %>
