<%= form_for @event , :url => {:action => 'new'} do |f| %>
<div id="createEventModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">New Event</h4>
      </div>
      <form id="createEventForm" class="modal-body">
        <div class="modal-body">
          <table>
            <tbody>
              <tr>
                <th class="event-form-key">
                  When:
                </th>
                <td class="event-form-val">
                  <div data-bind="visible: singleDay">
                    <span data-bind="text: startDate"></span>
                  </div>
                  <div data-bind="visible: multiDays">
                    <span data-bind="text: startDate"></span>〜<span data-bind="text: endDate"></span>
                  </div>
                  <%= f.hidden_field :dtstart, :id => 'eventStartDateHidden', 'data-bind' => "value: startDate" %>
                  <%= f.hidden_field :dtend, :id => 'eventEndDateHidden', 'data-bind' => "value: endDate" %>
                </td>
              </tr>
              <tr>
                <th class="event-form-key">
                  What:
                </th>
                <td class="event-form-val">
                  <%= f.text_field :summary, :id => 'eventSummary' %>
                </td>
              </tr>
              <tr>
                <th class="event-form-key">
                  Calendar:
                </th>
                <td class="event-form-val">
                  <select></select>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </form>
      <div class="modal-footer">
        <button type="submit" class="btn set-left" id="submitButton">Creat event</button>
        <%= f.submit "Edit event »", {:class => "btn btn-link set-left"} %>
      </div>
    </div>
  </div>
</div>
<% end %>
