<%= form_for(@event) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= link_to :back, {:class=>"btn btn-default"} do %>
      <i class="fa fa-arrow-left"></i>
    <% end %>
    <%= f.submit "SAVE", class:"btn btn-danger" %>
    <%= link_to 'Discard', events_path, {:class=>"btn btn-default"} %>
  </div>
  <hr>
  <div class="field">
    <%= f.text_field :summary, :placeholder => "Untitled event" %>
  </div>
  <div class="field input-group" data-bind="visible: notAllDayChecked">
    <%= f.text_field :dtstart, id:"eventStartTime" %>  to  <%= f.text_field :dtend, id:"eventEndTime" %>
  </div>
  <div class="field input-group" data-bind="visible: allDayChecked">
    <%= f.text_field :dtstart, id:"eventStartDate" %>  to  <%= f.text_field :dtend, id:"eventEndDate" %>
  </div>
  <div>
    <input type="checkbox" data-bind="checked: allDayChecked"> All day
    <input type="checkbox" data-bind="checked: repeatChecked"> Repeat...
  </div>
  <ul class="nav nav-tabs" role="tablist">
    <li class="active" role="presentation">
      <a aria-controls="detail" data-toggle="tab" href="#detail" id="detail-tab" role="tab">Event details</a>
    </li>
  </ul>

  <div class="field form-group">
    <div class="tab-content">
      <div class="tab-pane active" id="detail" role="tabpanel">
        <div class="field">
          <table>
            <tbody>
              <tr>
                <th class="form-th">
                  <%= f.label :Where %>
                </th>
                <td class="event-form-val">
                  <%= f.text_field :location, :placeholder => "Enter a location" %>
                </td>
              </tr>
              <tr>
                <th valign="top" class="event-form-key">
                  <%= f.label :description %>
                </th>
                <td class="event-form-val">
                  <%= f.text_area :description %>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="repeatSettings" tabindex="-1" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content modal-repeat">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title"><b>Repeat</b></h4>
        </div>
        <div class="modal-body">
          <table align="center">
            <tbody>
              <tr>
                <th class="event-form-key">
                  Repeats:
                </th>
                <td class="event-form-val">
                  <select data-bind="options: optionValues, value: selectedOptionValue" class="repeat-type"></select>
                </td>
              </tr>
              <tr data-bind="visible: repeatByWeek">
                <th class="event-form-key">
                  Repeat every:
                </th>
                <td class="event-form-val">
                  <select data-bind="options: optionNum"></select>
                  weeks
                </td>
              </tr>
              <tr data-bind="visible: repeatByWeek">
                <th class="event-form-key">
                  Repeat on:
                </th>
                <td class="event-form-val">
                  <input type="checkbox" name="wday" value="1">S
                  <input type="checkbox" name="wday" value="2">M
                  <input type="checkbox" name="wday" value="3">T
                  <input type="checkbox" name="wday" value="4">W
                  <input type="checkbox" name="wday" value="5">T
                  <input type="checkbox" name="wday" value="6">F
                  <input type="checkbox" name="wday" value="7">S
                </td>
              </tr><!-- /.weekly -->
              <tr data-bind="visible: repeatByMonth">
                <th class="event-form-key">
                  Repeat every:
                </th>
                <td class="event-form-val">
                  <select data-bind="options: optionNum"></select>
                  months
                </td>
              </tr>
              <tr data-bind="visible: repeatByMonth">
                <th class="event-form-key">
                  Repeat by:
                </th>
                <td class="event-form-val">
                  <input type="radio" name="repeat_by_month" value="by_month" checked>day of the month
                  <input type="radio" name="repeat_by_week" value="by_week">day of the week
                </td>
              </tr><!-- /.monthly -->
              <tr data-bind="visible: repeatByYear">
                <th class="event-form-key">
                  Repeat every:
                </th>
                <td class="event-form-val">
                  <select data-bind="options: optionNum"></select>
                  years
                </td>
              </tr><!-- /.yearly -->
              <tr>
                <th class="event-form-key">
                  Starts on:
                </th>
                <td class="event-form-val">
                  <input type="text" value="Select date" disabled="disabled" />
                </td>
              </tr>
              <tr>
                <th valign="top" class="event-form-key">
                  Ends:
                </th>
                <td class="event-form-val">
                  <input type="radio" name="never" checked> Never <br>
                  <input type="radio" name="times"> After <input type="text" size="5" name="tims_input" value="15"> occurrences <br>
                  <input type="radio" name="until"> On <input type="date" name="until_input">
                </td>
              </tr>
              <tr>
                <th class="event-form-key">
                  Summary:
                </th>
                <td class="event-form-val">
                  Summary
                </td>
              </tr>
            </tbody>
          </table>
        </div><!-- /.modal-body -->
        <div class="modal-footer center">
          <button type="button" class="btn btn-default" data-dismiss="modal">Done</button>
          <button type="button" class="btn btn-default"  data-dismiss="modal">Cancel</button>
        </div><!-- /.modal-footer -->
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

  <%= f.hidden_field :categories %>
  <%= f.hidden_field :status %>
  <%= f.hidden_field :recurrence_id, :value => "Inbox" %>
  <%= f.hidden_field :related_to %>
  <%= f.hidden_field :uid %>
  <%= f.hidden_field :created %>
  <%= f.hidden_field :last_modified %>
  <%= f.hidden_field :sequence %>
<% end %>
