<%= form_for(@event) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= link_to :back, {:class=>"btn btn-default"} do %>
      <i class="fa fa-arrow-left"></i>
    <% end %>
    <%= f.submit "SAVE", class:"btn btn-danger" %>
    <%= link_to 'Discard', events_path, {:class=>"btn btn-default"} %>
  </div>
  <hr>
  <div class="field">
    <%= f.text_field :summary, :placeholder => "Untitled event" %>
  </div>
  <div class="field input-group">
    <%= f.text_field :dtstart, id:"eventStartTime" %>  to  <%= f.text_field :dtend, id:"eventEndTime" %>
  </div>
  <div>
    <input type="checkbox" data-bind="checked: allDayChecked"> All day
    <input type="checkbox" data-bind="checked: repeatChecked"> Repeat...
  </div>
  <ul class="nav nav-tabs" role="tablist">
    <li class="active" role="presentation">
      <a aria-controls="detail" data-toggle="tab" href="#detail" id="detail-tab" role="tab">Event details</a>
    </li>
  </ul>

  <div class="field form-group">
    <div class="tab-content">
      <div class="tab-pane active" id="detail" role="tabpanel">
        <div class="field">
          <table>
            <tbody>
              <tr>
                <th class="form-th">
                  <%= f.label :Where %>
                </th>
                <td>
                  <%= f.text_field :location, :placeholder => "Enter a location" %>
                </td>
              </tr>
              <tr>
                <th valign="top" class="form-th">
                  <%= f.label :description %>
                </th>
                <td>
                  <%= f.text_area :description %>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <%= f.hidden_field :categories %>
  <%= f.hidden_field :status %>
  <%= f.hidden_field :recurrence_id, :value => "Inbox" %>
  <%= f.hidden_field :related_to %>
  <%= f.hidden_field :uid %>
  <%= f.hidden_field :created %>
  <%= f.hidden_field :last_modified %>
  <%= f.hidden_field :sequence %>
<% end %>
