<%= javascript_include_tag "events" %>
<!DOCTYPE html>
<h1>Calendar</h1>
<div class="display-side">
<a class="btn btn-default open-side-menu" href="#">
  <i class="fa fa-bars"></i>
</a>
</div>
<%= render :partial => "events/side_menu" , :locals => {:events => @events, :point_event => @point_event, :calendars => @calendars} %>
<%= render :partial => "events/create_form_of_modal" %>
<%= render :partial => "events/duplicate_form_of_modal" %>
<div id="calendar"></div>
<%= render :partial => "events/recurrence" , :locals => {:recurrences => @recurrences} %>
