<br>
<p><font size="4"><%= @event.summary %></font></p>
<br>
<b>date</b>
<p><%= process_date(@event.dtstart, @event.dtend) %></p>
<br>
<% if @clams != nil %>
  <b>関連するメール</b>
  <ul>
  <% @clams.each do |clam| %>
    <li><%= link_to clam.summary, "" %></li>
  <% end %>
  </ul>
<% end %>
<br>
<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
