<%= form_tag '/missions/inbox', :method => 'get', :class => 'search' do %>
  <p class="form-inline" align="right">
    <%= check_box_tag :narrow, true, false, {} %>
    <span class="checkbox-caption">Reused mails only</span>
    <%= text_field_tag :search, nil, class: 'form-control', style: 'width:150px' %>
    <i class="fa fa-search search-icon" onclick="$('.search').submit()"></i>
  </p>
<% end %>
<div class="clams-table">
  <table <%= inbox_classes %>>
    <thead>
      <tr>
        <th date-field="summary" data-sortable="false" class="ct-summary">Summary</th>
        <th date-field="date" data-sortable="true" class="ct-date">Date</th>
      </tr>
    </thead>
    <tbody id="tbody_elements">
      <%= render partial: "clam_table", locals: {clams: clams} %>
    </tbody>
  </table>
  <div id="paginator">
    <%= link_to_next_page clams, 'Next', remote: true, class: 'next-page' %>
  </div>
  <div class="related-clam-field"></div>
</div>
