<%= form_tag '/missions/inbox', :method => 'get', :class => 'search' do %>
  <p class="form-inline" align="right">
    <%= text_field_tag :search, nil, class: 'form-control', style: 'width:150px' %>
    <i class="fa fa-search search-icon" onclick="$('.search').submit()"></i>

  </p>
<% end %>
<div class="clams-table">
  <table <%= inbox_classes %>>
    <thead>
      <tr>
        <th data-field="selected" data-checkbox="true"></th>
        <th date-field="summary" data-sortable="false">Subject</th>
        <th date-field="originator" data-sortable="false">Sender</th>
        <th date-field="date" data-sortable="true">Date</th>
        <th data-field="icon"></th>
      </tr>
    </thead>
    <tbody>
      <% if clams.present? %>
        <% clams.each do |clam| %>
        <% if clam.fixed == false %>
          <tr class="draggable-clam fixed"
              data-id="<%= clam.id %>"
              data-summary="<%= clam.summary %>">
        <% else %>
          <tr class="draggable-clam"
              data-id="<%= clam.id %>"
              data-summary="<%= clam.summary %>">
        <% end %>
            <td></td>
            <td><%= clam.summary %></td>
            <td><%= clam.originator %></td>
            <td><%= clam.date %></td>
            <td><%= link_to "", { controller: "mail", action: "new", clam_id: clam.id }, class: "fa fa-repeat" %></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>

