<% if clams.present? %>
  <% clams.each do |clam| %>
    <% if clam.fixed == false %>
      <tr class="draggable-clam fixed"
          data-id="<%= clam.id %>"
          data-summary="<%= clam.summary %>">
    <% else %>
      <tr class="draggable-clam"
          data-id="<%= clam.id %>"
          data-summary="<%= clam.summary %>">
    <% end %>
    <td class="show-clam">
      <% if !clam.fixed %>
        <a href="#" class="fa fa-comment-o suggest-icon"></a>
      <% end %>
      <%= clam.summary %>
    </td>
    <td class="show-clam"><%= process_date(clam.date, clam.date) %></td>
    </tr>
  <% end %>
<% end %>
